@import "https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700;800&display=swap";
@import "../../../../assets/styles/fonts.scss";
tr:hover {
  background: #f4f4f4;
  cursor: pointer;
  transition: 0.1s;
}

.input-handler {
  width: 60px;
  height: 60px;
  padding: 5px;
  border-radius: 50px;
  border: 3px solid #7c7c7c68;
  box-sizing: border-box;
  background: #fff;
  transition: 1s;
  position: relative;
  margin-bottom: 1rem;

  input {
    position: absolute;
    top: 0;
    left: 0;
    border: 0;
    width: 100%;
    height: 52px;
    line-height: 75px;
    outline: 0;
    display: none;
    font-size: 16px;
    border-radius: 25px;
    padding: 0 20px;
  }
  mat-icon {
    position: absolute;
    top: 1px;
    right: 1px;
    width: 52px;
    height: 52px;
    box-sizing: border-box;
    border-radius: 50%;
    text-align: center;
    font-size: 25px;
    transition: 1s;
    color: #fff;
    background: #26184a;
    padding: 15px;
  }
}
.input-handler:hover,
.input-handler:focus {
  width: 400px;
  cursor: pointer;
  input {
    display: block;
  }
}

tr:hover > th {
  background: white;
  cursor: default;
  transition: none !important;
  transform: none !important;
}

th {
  font-weight: bold;
  color: #26184a;
}
.upper-wrapper {
  margin-bottom: 2rem;
  .title {
    font-weight: 600;
    letter-spacing: 0.1rem;
    text-transform: capitalize;
    display: flex;
  }
  .btn-flex {
    display: flex;
    justify-content: flex-end;
    button {
      width: auto;
      margin: 0rem 0.5rem;
      border-radius: 20px;
    }
  }
}
.loading {
  padding: 1rem;
}

.empty {
  padding: 1rem;
  p {
    text-align: center;
    font-size: small;
    color: #8d8d8d;
  }
}
.mat-table {
  width: 100%;
}

td,
th {
  white-space: normal;
  word-wrap: break-word;
  max-width: 250px;
}
