// .mat-list-item:hover {
//     cursor: pointer;
//     // background-color: #8460df;
//     color: #ffff;
//   }
.custom-hover-delete:hover mat-icon{
  cursor: pointer;
  color: red;
  opacity: .5;
  border-radius: 10px;
  
}
.custom-hover-update:hover mat-icon{
  cursor: pointer;
  color: blue;
  opacity: .5;
  border-radius: 10px;
  
}

.custom-hover-suspend:hover mat-icon{
  cursor: pointer;
  color: orange;
  opacity: .5;
  border-radius: 10px;
  
}

.custom-hover-activate:hover mat-icon{
  cursor: pointer;
  color: green;
  opacity: .5;
  border-radius: 10px;
}

.spanbtn:hover{
  background: rgb(132,96,223,0.5);
  border-radius: 20px;
}