<mat-list>
    <ng-container *ngFor="let conf of data.bottomSheetConf">
        <mat-list-item *ngIf="conf.show"
            [ngClass]="{'custom-hover-delete':conf.label === 'Delete', 'custom-hover-activate':conf.label==='Activate', 'custom-hover-suspend':conf.label==='Suspend', 'custom-hover-update':conf.label==='Update'}"
            (click)=" onDismiss(conf.label)">
            <mat-icon class="mr-3">{{conf.icon}}</mat-icon> <span>{{conf.label}}</span>

        </mat-list-item>
    </ng-container>
</mat-list>