<app-loading *ngIf="loading"></app-loading>
<div class="grid container" *ngIf="!loading">
  <div *ngIf="me" class="xl:col-12 lg:col-12 sm:col-12 xs:col-12">
    <div class="img-container">
      <img
        [src]="
          profileImg ? profileImg : '../../../../assets/images/no-profile.jpg'
        "
        alt=""
      />
    </div>
    <div class="name-container">
      <h1>{{ me.firstName }} {{ me.lastName }}</h1>
      <div class="line"></div>
    </div>
    <div class="info">
      <p>{{ me.email }}</p>
      <p class="smaller">(Email)</p>
      <p>(+63) {{ me.mobileNumber }}</p>
      <p class="smaller">(Contact number)</p>
    </div>
    <mat-divider></mat-divider>
  </div>
</div>
