.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  img {
    width: 30%;
    padding-bottom: 1rem;
  }
  button {
    width: 30%;
    margin: auto;
  }
}
.matbtn:active{
  color:red;
}
