<div class="grid" *ngIf="!loading">
    <div class="col-4">
        <app-form [formFields]="formFields" (formListener)="formListener($event)" [action]="action"
            [object]="data.data">
        </app-form>
    </div>
    <div class="col-8">
        <app-image-form (imageEmitter)="imageEmitter($event)" [obj]="data.data" [action]="action"></app-image-form>
    </div>
</div>

<mat-dialog-actions *ngIf="!loading">
    <button mat-button (click)="onCancel()" *ngIf="action!=='Activate'">Cancel</button>
    <button mat-button (click)="onSave()" [disabled]='!imageFormValid' color='primary'
        *ngIf="action==='Update'|| action==='Activate'">{{action==='Update'?'Save':'Activate'}}</button>
</mat-dialog-actions>
<div style="display: flex;justify-content: center; align-items: center;" *ngIf="loading">
    <p>
        <mat-spinner></mat-spinner>
    </p>
    <p>Saving Data...</p>
</div>