<form [formGroup]="form">
  <!-- <h2>{{ action }}</h2> -->
  <div class="grid">
    <ng-container *ngFor="let formField of formFields">
      <div class="header-section" *ngIf="formField.name">
        <h3>{{ formField.name }}</h3>
      </div>

      <ng-container *ngFor="let field of formField.fields">
        <div *ngIf="field.isVisible" class="{{ css[field.fcName] }}">
          <!-- Text -->
          <mat-form-field class="full-width" *ngIf="field.type == 'text'">
            <mat-label>
              {{ field.label }}
              <small *ngIf="!field.isOptional">*</small>
            </mat-label>
            <input matInput [formControlName]="field.fcName" [type]="'text'" />
            <span matPrefix style="color: rgb(165, 165, 165)" *ngIf="field.fcName === 'mobileNumber'">+63</span>
          </mat-form-field>

          <!-- Number -->
          <mat-formfield class="full-width" *ngIf="field.type == 'number'">
            <mat-label>
              {{ field.label }}
              <small *ngIf="!field.isOptional">*</small>
            </mat-label>
            <input matInput type="text" [formControlName]="field.fcName" (keypress)="numberInputOnly($event)"
              [minLength]="field.minLength ? field.minLength : 0" [maxLength]="field.maxLength ? field.maxLength : 0" />
          </mat-formfield>

          <!-- Percentage -->
          <mat-form-field class="full-width" *ngIf="field.type == 'percentage'">
            <mat-label>
              {{ field.label }}
              <small *ngIf="!field.isOptional">*</small>
            </mat-label>
            <input matInput type="text" [formControlName]="field.fcName" minlength="1" maxlenght="4"
              (keypress)="numberInputOnly($event)" />
            <span matSuffix>%</span>
          </mat-form-field>

          <!-- Text Area -->
          <mat-form-field class="full-width" *ngIf="field.type == 'textarea'">
            <mat-label> {{ field.label }}</mat-label>
            <textarea matInput [formControlName]="field.fcName" [rows]="field.rowSpan"></textarea>
          </mat-form-field>

          <!-- Select -->
          <mat-form-field class="full-width" *ngIf="field.type == 'select'">
            <mat-label> {{ field.label }}</mat-label>
            <mat-select [formControlName]="field.fcName">
              <mat-option *ngFor="let item of field.choices" [value]="
                  field.choiceValue
                    ? util.deepFind(item, field.choiceValue)
                    : item
                ">
                {{
                field.choiceLabel
                ? util.deepFind(item, field.choiceLabel)
                : item
                }}
              </mat-option>
            </mat-select>
          </mat-form-field>

          <!-- Select w/ Checkbox -->
          <mat-form-field class="full-width" *ngIf="field.type == 'select_with_checkbox'">
            <mat-label>{{ field.label }}</mat-label>
            <mat-select [formControlName]="field.fcName" multiple>
              <mat-option *ngFor="let item of field.choices" [value]="
                  field.choiceValue
                    ? util.deepFind(item, field.choiceValue)
                    : item
                ">
                {{
                field.choiceLabel
                ? util.deepFind(item, field.choiceLabel)
                : item
                }}
              </mat-option>
            </mat-select>
          </mat-form-field>

          <!-- Date -->
          <mat-form-field class="full-width" *ngIf="field.type == 'date'">
            <mat-label>{{ field.label }}</mat-label>
            <input matInput [matDatepicker]="dp3" [formControlName]="field.fcName" [disabled]="true" />
            <mat-datepicker-toggle matSuffix [for]="dp3">
            </mat-datepicker-toggle>
            <mat-datepicker #dp3 [disabled]="false" [touchUi]="true">
            </mat-datepicker>
          </mat-form-field>

          <!-- CheckBox -->
          <mat-checkbox *ngIf="field.type == 'checkbox'" [formControlName]="field.fcName" color="primary">
            {{ field.label }}</mat-checkbox>

          <!-- FORM ARRAY TBA(di ko alam pano gagawin) -->
        </div>
      </ng-container>
    </ng-container>
  </div>
</form>