<app-loading *ngIf="loadingInitial"></app-loading>
<div *ngIf="!loadingInitial" class="container">
  <div class="circle"></div>
  <div class="big-shape"></div>
  <div class="square-div"></div>
  <div class="square-div-1"></div>
  <div class="square-div-2"></div>
  <div class="square-div-3"></div>
  <div class="form-container">
    <div class="left">
      <div class="img-container">
        <img src="../../../assets/images/iCertify-logo.png" alt="" />
      </div>
      <h3>Already have an account?</h3>
      <button (click)="login()">Login</button>
    </div>
    <div class="right">
      <form [formGroup]="registerForm" style="width: 100%">
        <h2 style="margin-top: 0; font-weight: 500">Create an account</h2>

        <div class="grid">
          <mat-form-field class="col-12 sm:col-6" appearance="fill">
            <mat-label
              >First Name
              <small>*</small>
            </mat-label>
            <input matInput type="text" formControlName="firstName" />
            <mat-error *ngIf="registerForm.controls.firstName.invalid">{{
              formFieldErrMessage("firstName")
            }}</mat-error>
          </mat-form-field>
          <mat-form-field class="col-12 sm:col-6" appearance="fill">
            <mat-label
              >Last Name
              <small>*</small>
            </mat-label>

            <input matInput type="text" formControlName="lastName" />
            <mat-error *ngIf="registerForm.controls.lastName.invalid">{{
              formFieldErrMessage("lastName")
            }}</mat-error>
          </mat-form-field>
          <mat-form-field class="col-12" appearance="fill">
            <mat-label
              >Email
              <small>*</small>
            </mat-label>
            <input matInput type="text" formControlName="email" />
            <mat-error *ngIf="registerForm.controls.email.invalid">{{
              formFieldErrMessage("email")
            }}</mat-error>
          </mat-form-field>

          <mat-form-field class="col-12 sm:col-6" appearance="fill">
            <mat-label
              >Password
              <small>*</small>
            </mat-label>
            <input
              matInput
              [type]="showPassword ? 'text' : 'password'"
              formControlName="password"
            />
            <mat-error *ngIf="registerForm.controls.password.invalid">{{
              formFieldErrMessage("password")
            }}</mat-error>
          </mat-form-field>
          <mat-form-field class="col-12 sm:col-6" appearance="fill">
            <mat-label
              >Confirm Password
              <small>*</small>
            </mat-label>
            <input
              matInput
              [type]="showPassword ? 'text' : 'password'"
              formControlName="passwordConfirm"
            />
            <mat-error *ngIf="registerForm.controls.passwordConfirm.invalid">{{
              formFieldErrMessage("passwordConfirm")
            }}</mat-error>
          </mat-form-field>

          <mat-checkbox class="col-12" (change)="toggleShowPassword()"
            >Show Password</mat-checkbox
          >
          <div style="margin-bottom: 1rem"></div>
          <mat-form-field class="col-12" appearance="fill" floatLabel="always">
            <mat-label
              >Mobile Number
              <small>*</small>
            </mat-label>
            <input
              matInput
              type="text"
              formControlName="mobileNumber"
              (keypress)="numberInputOnly($event)"
              [minLength]="10"
              [maxLength]="10"
            />
            <span matPrefix>+63</span>
            <mat-error *ngIf="registerForm.controls.mobileNumber.invalid">{{
              formFieldErrMessage("mobileNumber")
            }}</mat-error>
          </mat-form-field>
        </div>
      </form>
      <div class="btn-container">
        <button
          mat-flat-button
          color="primary"
          class="btn"
          (click)="sendOtp()"
          [disabled]="!registerForm.valid || loading"
        >
          Register
        </button>
      </div>
    </div>
  </div>
</div>
