<div
  *ngIf="!loading"
  class="example-container"
  [class.example-is-mobile]="mobileQuery.matches"
>
  <mat-toolbar color="primary" class="example-toolbar">
    <button mat-icon-button (click)="snav.toggle()">
      <mat-icon>menu</mat-icon>
    </button>
    <!-- <h1 class="example-app-name">Responsive App</h1> -->
    <div class="flex-stretch"></div>

    <ngx-avatar
      *ngIf="me"
      name="{{ me ? me.firstName + ' ' + me.lastName : '' }}"
      value="def"
      bgColor="#fff"
      fgColor="#26184a"
      size="40"
      [round]="true"
      class="my-avatar"
      [matMenuTriggerFor]="menu"
    ></ngx-avatar>

    <mat-menu style="padding-top: 0; padding-bottom: 0px" #menu="matMenu">
      <mat-card
        mat-ele
        style="
          background: rgb(255, 255, 255);
          border: none;
          box-shadow: none;
          padding-top: 0px;
          padding-bottom: 0px;
        "
      >
        <div class="flex-wrapper-row">
          <ngx-avatar
            src="{{ me ? '' : './../../../assets/images/guest.png' }}"
            value="noPic"
            bgColor="#26184a"
            fgColor="#fff"
            size="80"
            [round]="true"
          ></ngx-avatar>
          <mat-card-header>
            <mat-card-title>
              {{ me ? me.firstName + " " + me.lastName : " test aydtasdd" }}
            </mat-card-title>
            <mat-card-subtitle>
              {{ me ? me.email : "" }}
            </mat-card-subtitle>
          </mat-card-header>
        </div>
      </mat-card>
      <button mat-menu-item (click)="profile()">
        <mat-icon>account_circle</mat-icon>
        <span>Profile</span>
      </button>
      <button mat-menu-item (click)="changePassword()">
        <mat-icon>key</mat-icon>
        <span>Change Password</span>
      </button>
      <button mat-menu-item (click)="logout()">
        <mat-icon>logout</mat-icon>
        <span>Logout</span>
      </button>
    </mat-menu>
  </mat-toolbar>

  <mat-sidenav-container
    class="example-sidenav-container"
    [style.marginTop.px]="mobileQuery.matches ? 56 : 0"
  >
    <mat-sidenav
      #snav
      [style]="mobileQuery.matches ? 'width: 75%' : 'width:16%'"
      [mode]="mobileQuery.matches ? 'over' : 'side'"
      [fixedInViewport]="mobileQuery.matches"
      fixedTopGap="56"
      style="border: none"
    >
      <mat-nav-list>
        <ng-container *ngFor="let nav of userNav">
          <mat-list-item [routerLink]="nav.route" style="height: 2.8rem">
            <mat-icon
              class="light"
              fontSet="material-icons-outlined"
              style="font-size: 21px; margin-right: 0.3rem"
              mat-list-icon
              >{{ nav.icon }}</mat-icon
            ><span>{{ nav.label }}</span>
          </mat-list-item>
        </ng-container>
      </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content>
      <div *ngIf="router.url !== '/portal/user-details'" class="container">
        <router-outlet></router-outlet>
      </div>
      <router-outlet
        *ngIf="router.url === '/portal/user-details'"
      ></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
<app-loading *ngIf="loading"></app-loading>
