<mat-spinner style="margin: auto" [diameter]="60" *ngIf="loading"></mat-spinner>
<div mat-dialog-content *ngIf="!loading">
  <h1>Change Password</h1>
  <form
    [formGroup]="passwordForm"
    style="display: flex; flex-direction: column"
  >
    <mat-form-field appearance="outline" style="color: #55bc7e">
      <mat-label>Current Password </mat-label>
      <input
        [type]="hideCurrent ? 'password' : 'text'"
        matInput
        formControlName="currentPassword"
        (keyup)="pwCheck()"
      />
      <mat-icon
        style="cursor: pointer"
        matTooltip="Visibility"
        matSuffix
        (click)="hideCurrent = !hideCurrent"
      >
        {{ hideCurrent ? "visibility" : "visibility_off" }}
      </mat-icon>
    </mat-form-field>
    <mat-form-field appearance="outline" style="color: #55bc7e"
      ><mat-label>New Password </mat-label>
      <input
        [type]="hideNewPassword ? 'password' : 'text'"
        matInput
        formControlName="newPassword"
        (keyup)="pwCheck()"
      />
      <mat-icon
        style="cursor: pointer"
        matTooltip="Visibility"
        matSuffix
        (click)="hideNewPassword = !hideNewPassword"
      >
        {{ hideNewPassword ? "visibility" : "visibility_off" }}
      </mat-icon>
    </mat-form-field>
    <mat-form-field appearance="outline" style="color: #55bc7e">
      <mat-label>Confirm Password </mat-label>
      <input
        [type]="hideConfirmPassword ? 'password' : 'text'"
        matInput
        formControlName="confirmPassword"
        (keyup)="pwCheck()"
      />
      <mat-icon
        style="cursor: pointer"
        matTooltip="Visibility"
        matSuffix
        (click)="hideConfirmPassword = !hideConfirmPassword"
      >
        {{ hideConfirmPassword ? "visibility" : "visibility_off" }}
      </mat-icon>
    </mat-form-field>
    <span
      class="match"
      *ngIf="
        registerFormControl.confirmPassword.errors?.passwordMismatch || pwError
      "
    >
      {{
        pwError
          ? "New password must not be the same as old password"
          : "Passwords did not match"
      }}
    </span>
    <div class="btn-container">
      <button
        color="primary"
        mat-raised-button
        (click)="onSubmit()"
        [disabled]="saving || !passwordForm.valid || pwError"
      >
        {{ saving ? "Saving..." : "Save password" }}
      </button>
    </div>
  </form>
</div>
