<div mat-dialog-content>
  <mat-icon class="icon">https</mat-icon>
  <div class="body">
    <h3>Change Password</h3>
    <form
      [formGroup]="passwordForm"
      style="display: flex; flex-direction: column"
    >
      <mat-form-field appearance="outline"
        ><mat-label>New Password </mat-label>
        <input
          [type]="hideNewPassword ? 'password' : 'text'"
          matInput
          formControlName="newPassword"
          (keyup)="pwCheck()"
        />
        <mat-icon
          style="cursor: pointer"
          matTooltip="Visibility"
          matSuffix
          (click)="hideNewPassword = !hideNewPassword"
        >
          {{ hideNewPassword ? "visibility" : "visibility_off" }}
        </mat-icon>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Confirm Password </mat-label>
        <input
          [type]="hideConfirmPassword ? 'password' : 'text'"
          matInput
          formControlName="passwordConfirm"
          (keyup)="pwCheck()"
        />
        <mat-icon
          style="cursor: pointer"
          matTooltip="Visibility"
          matSuffix
          (click)="hideConfirmPassword = !hideConfirmPassword"
        >
          {{ hideConfirmPassword ? "visibility" : "visibility_off" }}
        </mat-icon>
      </mat-form-field>
      <span
        class="match"
        *ngIf="registerFormControl.passwordConfirm.errors?.passwordMismatch"
        >Passwords did not match
      </span>
      <div class="btn-container">
        <button
          color="primary"
          mat-raised-button
          (click)="onSubmit()"
          [disabled]="saving || !passwordForm.valid"
        >
          {{ saving ? "Saving..." : "Save password" }}
        </button>
      </div>
    </form>
  </div>
</div>
