<div mat-dialog-title>
  <h3>Forgot Password</h3>
  <button
    mat-icon-button
    color="warn"
    class="close-btn"
    (click)="dialogRef.close()"
  >
    <mat-icon>close</mat-icon>
  </button>
  <mat-divider></mat-divider>
</div>
<div mat-dialog-content>
  <img
    [src]="
      page === 1
        ? '../../../../assets/images/smartphone.svg'
        : '../../../../assets/images/password.svg'
    "
    alt=""
  />
  <p>
    {{
      page === 1
        ? "
      Enter your mobile number to proceed, and check the OTP that was sent to your mobile number."
        : "Enter your new password and make sure to remember your new password."
    }}
  </p>
  <section *ngIf="page === 1" class="first-dialog">
    <mat-form-field class="full-width" appearance="standard"
      ><span matPrefix>+63</span>
      <mat-icon matSuffix>phone_iphone</mat-icon>
      <mat-label>Mobile Number</mat-label>
      <input
        type="text"
        matInput
        [(ngModel)]="mobileNumber"
        maxlength="10"
        minlength="10"
        placeholder="9201234567"
        (keypress)="numberInputOnly($event)"
      />
    </mat-form-field>
  </section>
  <form [formGroup]="credentialPassword">
    <section *ngIf="page === 2" class="second-dialog">
      <mat-form-field class="full-width" appearance="standard"
        ><mat-label>New Password </mat-label>
        <input
          [type]="hideNewPassword ? 'password' : 'text'"
          matInput
          formControlName="newPassword"
        />
        <mat-icon
          style="cursor: pointer"
          matTooltip="Visibility"
          matSuffix
          (click)="hideNewPassword = !hideNewPassword"
        >
          {{ hideNewPassword ? "visibility" : "visibility_off" }}
        </mat-icon>
      </mat-form-field>
      <mat-form-field class="full-width" appearance="standard">
        <mat-label>Confirm Password </mat-label>
        <input
          [type]="hideConfirmPassword ? 'password' : 'text'"
          matInput
          formControlName="passwordConfirm"
        />
        <mat-icon
          style="cursor: pointer"
          matTooltip="Visibility"
          matSuffix
          (click)="hideConfirmPassword = !hideConfirmPassword"
        >
          {{ hideConfirmPassword ? "visibility" : "visibility_off" }}
        </mat-icon>
      </mat-form-field>
      <span
        class="match"
        *ngIf="registerFormControl.passwordConfirm.errors?.passwordMismatch"
      >
        Passwords did not match
      </span>
    </section>
    <mat-divider></mat-divider>
    <button
      mat-flat-button
      class="full-width"
      (click)="sendOTP()"
      color="primary"
      [disabled]="sending"
      *ngIf="page === 1"
    >
      {{ sending ? "Sending..." : "Send OTP" }}
    </button>
    <button
      mat-flat-button
      class="full-width"
      (click)="forgotPassword()"
      color="primary"
      [disabled]="saving"
      *ngIf="page === 2"
    >
      {{ saving ? "Saving..." : "Save" }}
    </button>
  </form>
</div>
