h3 {
  color: #565656;
  margin: 0;
  font-weight: 400;
  font-size: 19px;
  margin-bottom: 1rem;
}
.close-btn {
  margin-right: -13px !important;
  margin-top: -57px !important;
  float: right;
}

img {
  width: 40%;
  display: block;
  margin: auto;
}
p {
  text-align: center;
}
