@import "https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap";
@import "./../node_modules/primeflex/primeflex.css";
@import "./../node_modules/primeflex/primeflex.min.css";
html,
body {
  height: 100%;
  margin: 0;
  font-family: "Poppins", sans-serif !important;
}
* {
  font-family: "Poppins", sans-serif;
}
p,
span,
small,
h1,
h2,
h3,
h4,
h5 {
  font-family: "Poppins", sans-serif !important;
}

@import "~@angular/material/theming";
@include mat-core();

// Theming for iCertify
$primary: (
  300: #26184a,
  500: #26184a,
  900: #26184a,
  contrast: (
    300: #fff,
    500: #fff,
    900: #fff,
  ),
);

$accent: (
  300: #26184a,
  500: #26184a,
  900: #26184a,
  contrast: (
    300: #fff,
    500: #fff,
    900: #fff,
  ),
);

$warn: (
  300: #e55353,
  500: #e55353,
  900: #e55353,
  contrast: (
    300: #fff,
    500: #fff,
    900: #fff,
  ),
);

$icertify-primary: mat-palette($primary);
$icertify-accent: mat-palette($accent);
$icertify-warn: mat-palette($warn);

$icertify-theme: mat-light-theme(
  (
    color: (
      primary: $icertify-primary,
      accent: $icertify-accent,
      warn: $icertify-warn,
    ),
  )
);

@include angular-material-theme($icertify-theme);

//REUSABLE CLASSESS
.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.full-width {
  width: 100%;
}
.btn-float-bottom {
  position: fixed !important;
  bottom: 20px;
  right: 20px;
}

.dialog-responsive {
  width: 35%;
  mat-dialog-container {
    background-color: #26184a;
  }
}

.dialog-darken {
  width: "auto";
  mat-dialog-container {
    background-color: #26184a;
    color: #fff;
  }
}

.dialog-responsive-light {
  width: 30%;
}

.dialog-change {
  width: 30%;
  mat-dialog-container {
    background-color: transparent;
    border: none;
    box-shadow: none;
    backdrop-filter: blur(100px);
  }
}
.my-avatar {
  padding-top: 0.5rem;
  font-size: 20px;
  font-weight: bolder;
  cursor: pointer;
  height: 100%;
  margin: 0;
}
.flex-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

.flex-wrapper-row {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

/* width */
::-webkit-scrollbar {
  width: 8px;
  height: 1rem;
}

/* Track */
::-webkit-scrollbar-track {
  background: none;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #7b678089;
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #9b9b9b;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}
@media only screen and (max-width: 760px) {
  .dialog-change {
    min-width: 100vw;
  }
  .dialog-responsive-light {
    min-width: 95vw;
  }
  .dialog-responsive {
    min-width: 95vw;
  }
}
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

