.close-btn {
  margin-right: -13px !important;
  margin-top: -60px !important;
  float: right;
}
h3 {
  margin-top: 0;
  font-weight: 500;
  color: #565656;
}
.btn {
  width: 35%;
  height: 3rem;
  margin: auto;
}
